<div class="center">
		
	<div ng-show="message.msg" class="alert" ng-class="{' alert-success' : message.status == 0, ' alert-danger' : message.status == 1}" role="alert">
		{{message.msg}}
	</div>
	
	<div class="page-header">
	  <h3>Transations archivées</h3>
	</div>
	
	
	<!-- Single button -->
	<div class="btn-group">
	  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	    Action <span class="caret"></span>
	  </button>
	  <ul class="dropdown-menu">
	    <li><a ng-click="deleteSelectedTransaction(transactions)">Delete selected</a></li>
	  </ul>
	</div>
	
	<table class="table table-striped">
		<thead>
			<tr>
				<th><input type="checkbox" ng-model="allTransactionSelected"  ng-change="selectAllTransactions()"></th>
				<th>Payeur</th>
				<th>Description</th>
				<th>Montant</th>
				<th>Pour qui</th>
			</tr>
		</thead>
		
		<tr ng-repeat="transaction in transactions">
			<td><input type="checkbox" ng-model="transaction.isChecked" ng-change="selectTransaction()"></td>
			<td class="name"><img ng-src="img\{{transaction.user.gender}}.png"> &nbsp; {{transaction.user.name}}</td>
			<td class="trslabel">{{transaction.label}}</td>
			<td class="amount">{{transaction.amount}} {{transaction.currency.shortname}}</td>
			<td> <img ng-src="img\{{transaction.scope}}.png" /></td>
		</tr>
		
		<tr  ng-show="transactions.length == 0"><td colspan="5">Aucune archive</td></tr>
		
	</table>
	
</div>