	<div ng-show="loading">
		<div class="loader"> Loading...</div>
	</div>
	
	<div class="center" ng-show="!loading" >
	
		<div class="well well-sm" ng-show="debts.length > 0">
			<p ng-repeat="userDebt in debts" ng-show="userDebt.debt != 0"  ng-class="{' pink' : userDebt.debit.gender == 'f', ' blue' : userDebt.debit.gender == 'm'}" ng-click="showPayTheBill(userDebt)">
				{{userDebt.debit.name}} doit <b>{{userDebt.debt}} {{userDebt.currency.shortname}}</b> à {{userDebt.credit.name}} (click to pay)
			</p>	
		</div>
		

		<uib-alert ng-repeat="alert in alerts" type="success" close="closeAlert($index)" dismiss-on-timeout="5000" class="repeat-item">{{alert.content}}</uib-alert>
		
		<div class="page-header">
		  <h3>Ajouter une transaction</h3>
		</div>
		
		<div class="form-inline">
	
			<form name="trsForm" ng-submit="addTransaction(trsForm.$valid)" novalidate>	
				
				<select id="selectuser"
						class="form-control"
						ng-show="users.length !== 0"
	        			ng-model="user"
						ng-options="user.value as user.name for user in users">
				</select>
				
				<input class="form-control has-error" name="amount" placeholder="Montant..." ng-model="amount" required >

				<select id="selectcurrency"
						class="form-control"
						ng-show="currencies.length !== 0"
	        			ng-model="currency"
						ng-options="currency.value as currency.name for currency in currencies">
				</select>
				
				<input id="inputlabel" class="form-control" placeholder="Description..." ng-model="label"> 
				
				<select id="selectscope" class="form-control" ng-model="scope">
					<option selected value="0">Nous deux</option>
					<option value="1">Pas pour moi</option>
				</select>		
	
				
				<button type="submit" class="btn btn-primary">Ajouter</button>
				
			</form>
		
		</div>
		
		<div class="page-header">
		  <h3>Détail des transactions</h3>
		</div>
		
		
		<!-- Single button -->
		<div class="btn-group">
		  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		    Action <span class="caret"></span>
		  </button>
		  <ul class="dropdown-menu">
		    <li><a ng-click="deleteSelectedTransaction(transactions)">Supprimer la sélection</a></li>
		    <li><a ng-click="archiveSelectedTransaction(transactions)">Archiver la sélection</a></li>
		  </ul>
		</div>
		
		<div class="pull-right">
			<label>Rechercher: <input ng-model="search.label"></label> <br>
		</div>
		
		<table class="table table-striped">
			<thead>
				<tr>
					<th class="action"><input type="checkbox" ng-model="allTransactionSelected"  ng-change="selectAllTransactions()"></th>
					<th class="name">Payeur</th>
					<th class="trslabel">Description</th>
					<th class="amount">Montant</th>
					<th class="scope">Pour qui</th>
				</tr>
			</thead>
			
			<tr ng-repeat="transaction in transactions | filter:search:strict">
				<td class="action"><input type="checkbox" ng-model="transaction.isChecked" ng-change="selectTransaction()"></td>
				<td class="name"><img ng-src="img\{{transaction.user.gender}}.png"> &nbsp; {{transaction.user.name}}</td>
				<td class="trslabel">{{transaction.label}}</td>
				<td class="amount">{{transaction.amount}} {{transaction.currency.shortname}}</td>
				<td class="scope"> <img ng-src="img\{{transaction.scope}}.png" /></td>
			</tr>
			
			<tr  ng-show="transactions.length == 0"><td colspan="5">Aucune transaction en cours</td></tr>
			
		</table>
	</div>