<div class="center">
		
	<div ng-show="message.content" class="alert" ng-class="{' alert-success' : message.status == 0, ' alert-danger' : message.status == 1}" role="alert">
		{{message.content}}
	</div>
	
	<div class="page-header">
	  <h3>Utilisateurs</h3>
	</div>
	
	
	
	
	<table id="usertable" class="table table-striped">
		<thead>
			<tr>
				<th>Id</th>
				<th>Name</th>
				<th>Gender</th>
				<th></th>
			</tr>
		</thead>
		
		<tr ng-repeat="user in users">
			<td>{{user.id}}</td>
			<td>{{user.name}}</td>
			<td><img ng-src="img\{{user.gender}}.png"></td>
			<td><button  href ng-click="showEditUser(user)" class="btn btn-primary btn-xs">Edit</button></td>
		</tr>	
	</table>

</div>