.repeat-item.ng-enter,
    .repeat-item.ng-leave {
      -webkit-transition: 0.5s linear all;
      transition: 2s linear all;
    }
    
    .repeat-item.ng-enter,
    .repeat-item.ng-leave.ng-leave-active {
      opacity: 0;
    }
    
    .repeat-item.ng-leave,
    .repeat-item.ng-enter.ng-enter-active {
      opacity: 1;
    }
    
.pink {
	
	color: #DF01D7;
	
}

.blue {
	
	color: #013ADF;
	
}

.action {
	width: 5%;
	text-align: left;
}	
	
.name {
	width: 10%;
	text-align: left;
}	
	
.trslabel {
	width: 50%;
}	
	
	
.amount {
	width: 25%;
	text-align: right;
}	

.scope {
	width: 10%;
	text-align: center;
}	


#usertable {
	width: 50%;
}	

.center-loading {
	position: absolute;
	top: 50%;
	left:60%;
}
	
