<div class="center">
		
	<div class="page-header">
	  <h3>Transations archivées</h3>
	</div>
	
	
	<!-- Single button -->
	<div class="btn-group">
	  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	    Action <span class="caret"></span>
	  </button>
	  <ul class="dropdown-menu">
	    <li><a ng-click="deleteSelectedTransaction(transactions)">Supprimer la sélection</a></li>
	  </ul>
	</div>

	
	<table class="table table-striped">
		<thead>
			<tr>
				<th class="action"><input type="checkbox" ng-model="allTransactionSelected"  ng-change="selectAllTransactions()"></th>
				<th class="name">Payeur</th>
				<th class="trslabel">Description</th>
				<th class="amount">Montant</th>
				<th class="scope">Pour qui</th>
			</tr>
		</thead>
		
		<div ng-show="loading">
			<div class="loader"> Loading...</div>
		</div>

		<tr ng-repeat="transaction in transactions" ng-show="!loading">
			<td class="action"><input type="checkbox" ng-model="transaction.isChecked" ng-change="selectTransaction()"></td>
			<td class="name"><img ng-src="img\{{transaction.user.gender}}.png"> &nbsp; {{transaction.user.name}}</td>
			<td class="trslabel">{{transaction.label}}</td>
			<td class="amount">{{transaction.amount}} {{transaction.currency.shortname}}</td>
			<td class="scope"> <img ng-src="img\{{transaction.scope}}.png" /></td>
		</tr>
		
		<tr  ng-show="transactions.length == 0"><td colspan="5">Aucune archive</td></tr>
		
	</table>
	
	
	<nav ng-show="!loading">
	  <ul class="pager">
	    <li ng-class="{' disabled' :page == 1}"><a ng-click="previousPage()">Précédent</a></li>
	    {{page}}/{{pageMax}}
	    <li ng-class="{' disabled' :page == pagemax}"><a ng-click="nextPage()">Suivant</a></li>
	  </ul>
	</nav>

</div>