<div class="modal-header">
	<h3 class="modal-title">Remboursement des dettes</h3>
</div>

<div class="modal-body">
			<div ng-show="debt.debt != 0" ng-class="{' pink' : debt.debit.gender == 'f', ' blue' : debt.debit.gender == 'm'}">
				<li>{{debt.debit.name}} déclare avoir remboursé <b>{{debt.debt}} {{debt.currency.shortname}}</b> à {{debt.credit.name}}</li>
			</div>
</div>

<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ok()">Paid</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>